{
  "name": "StringUtils",
  "label": "StringUtils",
  "description": "Provides actions for String operations.",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "commands": []
}